@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@900&display=swap');



$link : rgb(218, 218, 218);
$hover : #eeeeee;
$nav : #3A7C8A;
$introclr: #1F2833;
$headerclr:#66fcf1;


.background{
    position: absolute;
    z-index: -1;
    background-color: $introclr;
    height: 80vh;
    width: 100%;
    top: 0;
}

.name{
    position: relative;
    color: $headerclr;
    font-family: 'Commissioner', sans-serif;
    font-size: 12vh;
    text-align: center;
    top: 7vh;
}