@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@380&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@900&display=swap");
.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

ul {
  right: 20px;
}

li {
  list-style-type: none;
  display: inline-block;
  padding-top: 15px;
  padding-left: 20px;
}

li a {
  color: #45a29e;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

li a:hover {
  text-decoration: none;
  color: #56c9c3;
}

.logo {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  position: relative;
  text-align: center;
  color: #45a29e;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  left: 20px;
  position: relative;
  top: 14px;
}

.logo:hover, .logo:active, .logo:visited {
  text-decoration: none;
  color: #45a29e;
}

.logo:hover {
  color: #56c9c3;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #45a29e;
}

@media screen and (max-width: 650px) {
  body {
    overflow-x: hidden;
  }
  .navlist {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 12vh;
    background-color: #1F2833;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    z-index: 10;
    -webkit-transform: translatex(100%);
            transform: translatex(100%);
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  }
  .navlist li {
    opacity: 0;
  }
  .burger {
    display: block;
    position: relative;
    top: 5px;
    cursor: pointer;
    right: -70px;
  }
  .logo {
    position: absolute;
    top: 4px;
    left: 50%;
    -webkit-transform: translateX(-75%);
            transform: translateX(-75%);
  }
}

.nav-active {
  -webkit-transform: translatex(0%);
          transform: translatex(0%);
}

@-webkit-keyframes navfade {
  from {
    opacity: 0;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes navfade {
  from {
    opacity: 0;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

.background {
  position: absolute;
  z-index: -1;
  background-color: #1F2833;
  height: 100vh;
  width: 100%;
  top: 0;
}

.name {
  position: relative;
  color: #66fcf1;
  font-family: 'Commissioner', sans-serif;
  font-size: 12vh;
  text-align: center;
  top: 60px;
}

.wave {
  position: absolute;
  height: 143px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-image: url(../images/wave.png);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */